<h1>–ê–Ω–∞–ª–∏–∑ –≤–∞–∫–∞–Ω—Å–∏–π –¥–ª—è Junior Data Analyst –Ω–∞ –ø–æ—Ä—Ç–∞–ª–µ LinkedIn<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#–í–≤–µ–¥–µ–Ω–∏–µ" data-toc-modified-id="–í–≤–µ–¥–µ–Ω–∏–µ-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>–í–≤–µ–¥–µ–Ω–∏–µ</a></span></li><li><span><a href="#–¶–µ–ª—å-–∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è" data-toc-modified-id="–¶–µ–ª—å-–∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>–¶–µ–ª—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è</a></span></li><li><span><a href="#–ó–∞–¥–∞—á–∏-–∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è" data-toc-modified-id="–ó–∞–¥–∞—á–∏-–∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>–ó–∞–¥–∞—á–∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è</a></span></li><li><span><a href="#–ò—Å—Ç–æ—á–Ω–∏–∫-–¥–∞–Ω–Ω—ã—Ö" data-toc-modified-id="–ò—Å—Ç–æ—á–Ω–∏–∫-–¥–∞–Ω–Ω—ã—Ö-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>–ò—Å—Ç–æ—á–Ω–∏–∫ –¥–∞–Ω–Ω—ã—Ö</a></span></li><li><span><a href="#–°—Ç—Ä—É–∫—Ç—É—Ä–∞-–¥–∞—Ç–∞—Å–µ—Ç–∞" data-toc-modified-id="–°—Ç—Ä—É–∫—Ç—É—Ä–∞-–¥–∞—Ç–∞—Å–µ—Ç–∞-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>–°—Ç—Ä—É–∫—Ç—É—Ä–∞ –¥–∞—Ç–∞—Å–µ—Ç–∞</a></span></li><li><span><a href="#–ò—Å–ø–æ–ª—å–∑—É–µ–º—ã–µ-–±–∏–±–ª–∏–æ—Ç–µ–∫–∏" data-toc-modified-id="–ò—Å–ø–æ–ª—å–∑—É–µ–º—ã–µ-–±–∏–±–ª–∏–æ—Ç–µ–∫–∏-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>–ò—Å–ø–æ–ª—å–∑—É–µ–º—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏</a></span></li><li><span><a href="#–ó–Ω–∞–∫–æ–º—Å—Ç–≤–æ-—Å-–¥–∞—Ç–∞—Å–µ—Ç–æ–º" data-toc-modified-id="–ó–Ω–∞–∫–æ–º—Å—Ç–≤–æ-—Å-–¥–∞—Ç–∞—Å–µ—Ç–æ–º-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>–ó–Ω–∞–∫–æ–º—Å—Ç–≤–æ —Å –¥–∞—Ç–∞—Å–µ—Ç–æ–º</a></span></li><li><span><a href="#–†–∞–±–æ—Ç–∞-—Å-–ø—Ä–æ–ø—É—Å–∫–∞–º–∏" data-toc-modified-id="–†–∞–±–æ—Ç–∞-—Å-–ø—Ä–æ–ø—É—Å–∫–∞–º–∏-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>–†–∞–±–æ—Ç–∞ —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏</a></span></li><li><span><a href="#–ò–∑–º–µ–Ω–µ–Ω–∏–µ-—Ç–∏–ø–æ–≤-–¥–∞–Ω–Ω—ã—Ö" data-toc-modified-id="–ò–∑–º–µ–Ω–µ–Ω–∏–µ-—Ç–∏–ø–æ–≤-–¥–∞–Ω–Ω—ã—Ö-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>–ò–∑–º–µ–Ω–µ–Ω–∏–µ —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö</a></span></li><li><span><a href="#–ü–µ—Ä–µ–≤–æ–¥-—Ç–µ–∫—Å—Ç–æ–≤—ã—Ö-–¥–∞–Ω–Ω—ã—Ö-–Ω–∞-–∞–Ω–≥–ª–∏–π—Å–∫–∏–π-—è–∑—ã–∫" data-toc-modified-id="–ü–µ—Ä–µ–≤–æ–¥-—Ç–µ–∫—Å—Ç–æ–≤—ã—Ö-–¥–∞–Ω–Ω—ã—Ö-–Ω–∞-–∞–Ω–≥–ª–∏–π—Å–∫–∏–π-—è–∑—ã–∫-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>–ü–µ—Ä–µ–≤–æ–¥ —Ç–µ–∫—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö –Ω–∞ –∞–Ω–≥–ª–∏–π—Å–∫–∏–π —è–∑—ã–∫</a></span></li><li><span><a href="#–ü—Ä–æ–≤–µ—Ä–∫–∞-–Ω–∞-–¥—É–±–ª–∏–∫–∞—Ç—ã" data-toc-modified-id="–ü—Ä–æ–≤–µ—Ä–∫–∞-–Ω–∞-–¥—É–±–ª–∏–∫–∞—Ç—ã-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>–ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –¥—É–±–ª–∏–∫–∞—Ç—ã</a></span></li><li><span><a href="#–ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π-–∞–Ω–∞–ª–∏–∑-–¥–∞–Ω–Ω—ã—Ö" data-toc-modified-id="–ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π-–∞–Ω–∞–ª–∏–∑-–¥–∞–Ω–Ω—ã—Ö-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>–ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö</a></span><ul class="toc-item"><li><span><a href="#–í—ã–±–æ—Ä–∫–∞-–∏–∑-–∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤-—Å–æ–≥–ª–∞—Å–Ω–æ-–¢–ó" data-toc-modified-id="–í—ã–±–æ—Ä–∫–∞-–∏–∑-–∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤-—Å–æ–≥–ª–∞—Å–Ω–æ-–¢–ó-12.1"><span class="toc-item-num">12.1&nbsp;&nbsp;</span>–í—ã–±–æ—Ä–∫–∞ –∏–∑ –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤ —Å–æ–≥–ª–∞—Å–Ω–æ –¢–ó</a></span></li><li><span><a href="#–í—ã—Å—Ç–∞—Å–∫–∏–≤–∞–µ–º-hard-skills" data-toc-modified-id="–í—ã—Å—Ç–∞—Å–∫–∏–≤–∞–µ–º-hard-skills-12.2"><span class="toc-item-num">12.2&nbsp;&nbsp;</span>–í—ã—Å—Ç–∞—Å–∫–∏–≤–∞–µ–º hard skills</a></span></li><li><span><a href="#–ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞-–¥–∞–Ω–Ω—ã—Ö-–¥–ª—è-–¥–∞—à–±–æ—Ä–¥–∞:-—É–¥–∞–ª–µ–Ω–∏–µ-–ª–∏—à–Ω–∏—Ö-—Å—Ç–æ–ª–±—Ü–æ–≤" data-toc-modified-id="–ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞-–¥–∞–Ω–Ω—ã—Ö-–¥–ª—è-–¥–∞—à–±–æ—Ä–¥–∞:-—É–¥–∞–ª–µ–Ω–∏–µ-–ª–∏—à–Ω–∏—Ö-—Å—Ç–æ–ª–±—Ü–æ–≤-12.3"><span class="toc-item-num">12.3&nbsp;&nbsp;</span>–ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –¥–∞—à–±–æ—Ä–¥–∞: —É–¥–∞–ª–µ–Ω–∏–µ –ª–∏—à–Ω–∏—Ö —Å—Ç–æ–ª–±—Ü–æ–≤</a></span></li><li><span><a href="#–ü—Ä–∏–ª–æ–∂–µ–Ω–∏–µ-1---–°—Å—ã–ª–∫–∞-–Ω–∞-–î–∞—à–±–æ—Ä–¥" data-toc-modified-id="–ü—Ä–∏–ª–æ–∂–µ–Ω–∏–µ-1---–°—Å—ã–ª–∫–∞-–Ω–∞-–î–∞—à–±–æ—Ä–¥-12.4"><span class="toc-item-num">12.4&nbsp;&nbsp;</span>–ü—Ä–∏–ª–æ–∂–µ–Ω–∏–µ 1 - –°—Å—ã–ª–∫–∞ –Ω–∞ –î–∞—à–±–æ—Ä–¥</a></span></li></ul></li></ul></div>

## –í–≤–µ–¥–µ–Ω–∏–µ

LinkedIn —è–≤–ª—è–µ—Ç—Å—è –æ–¥–Ω–∏–º –∏–∑ –≤–µ–¥—É—â–∏—Ö –æ–Ω–ª–∞–π–Ω-—Å–æ–æ–±—â–µ—Å—Ç–≤, –æ–±—ä–µ–¥–∏–Ω—è—é—â–∏–º –ø—Ä–æ—Ñ–µ—Å—Å–∏–æ–Ω–∞–ª–æ–≤ —Å–æ –≤—Å–µ–≥–æ –º–∏—Ä–∞. –ü–æ—Ä—Ç–∞–ª –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª—è–µ—Ç —É–Ω–∏–∫–∞–ª—å–Ω—É—é –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—å –∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å —Ç—Ä–µ–±–æ–≤–∞–Ω–∏—è, –Ω–∞–≤—ã–∫–∏, –∏ –æ–ø—ã—Ç, –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –¥–ª—è —É—Å–ø–µ—à–Ω–æ–π –∫–∞—Ä—å–µ—Ä—ã –≤ –æ–±–ª–∞—Å—Ç–∏ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö. –í —Ä–∞–º–∫–∞—Ö –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –±—É–¥–µ—Ç –ø—Ä–æ–≤–µ–¥–µ–Ω –∞–Ω–∞–ª–∏–∑ —Ä–∞–∑–ª–∏—á–Ω—ã—Ö –∞—Å–ø–µ–∫—Ç–æ–≤ –≤–∞–∫–∞–Ω—Å–∏–π –¥–ª—è Junior Data Analyst –Ω–∞ LinkedIn. –ë—É–¥—É—Ç —Ä–∞—Å—Å–º–æ—Ç—Ä–µ–Ω—ã –ø–æ–ø—É–ª—è—Ä–Ω—ã–µ —Å—Ñ–µ—Ä—ã, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω—ã —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç—ã –ø–æ –∞–Ω–∞–ª–∏–∑—É –¥–∞–Ω–Ω—ã—Ö. –û—Å–æ–±–æ–µ –≤–Ω–∏–º–∞–Ω–∏–µ —É–¥–µ–ª–µ–Ω–æ —Ç—Ä–µ–±–æ–≤–∞–Ω–∏—è–º —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –∫ –∫–∞–Ω–¥–∏–¥–∞—Ç–∞–º (hard skills), –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –¥–ª—è —É—Å–ø–µ—à–Ω–æ–π —Ä–∞–±–æ—Ç—ã –≤ –¥–∞–Ω–Ω–æ–π —Å—Ñ–µ—Ä–µ. –ö—Ä–æ–º–µ —Ç–æ–≥–æ, –±—É–¥–µ—Ç –æ—Å—É—â–µ—Å—Ç–≤–ª–µ–Ω –∞–Ω–∞–ª–∏–∑ —Ç–∏–ø–æ–≤ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏ –∏ –ª–æ–∫–∞—Ü–∏–π —Ä–∞–±–æ—Ç—ã –¥–ª—è Junior Data Analyst –≤ —Å—Ç—Ä–∞–Ω–∞—Ö –∏ –≥–æ—Ä–æ–¥–∞—Ö –ï–≤—Ä–æ–ø—ã. –†–µ–∑—É–ª—å—Ç–∞—Ç—ã –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è, –æ—Ñ–æ—Ä–º–ª–µ–Ω–Ω—ã–µ –≤ –≤–∏–¥–µ –¥–∞—à–±–æ—Ä–¥–∞, –ø–æ–∑–≤–æ–ª—è—Ç –ø—Ä–æ—Ñ–µ—Å—Å–∏–æ–Ω–∞–ª—å–Ω—ã–º –∞–Ω–∞–ª–∏—Ç–∏–∫–∞–º, —Å—Ç—É–¥–µ–Ω—Ç–∞–º –∏ –≤—ã–ø—É—Å–∫–Ω–∏–∫–∞–º —Å—Ñ–µ—Ä—ã –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–∏–Ω—è—Ç—å –±–æ–ª–µ–µ –∏–Ω—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–Ω–æ–µ —Ä–µ—à–µ–Ω–∏–µ –æ —Å–≤–æ–µ–π –∫–∞—Ä—å–µ—Ä–µ –∏ –≤—ã–±–æ—Ä–µ —Ä–∞–±–æ—Ç—ã –∑–∞ —Ä—É–±–µ–∂–æ–º. –≠—Ç–æ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –ø—Ä–∏–Ω–µ—Å–µ—Ç –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫—É—é –ø–æ–ª—å–∑—É –∏ –ø–æ–º–æ–∂–µ—Ç –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å—Å—è —Å –¥–∞–ª—å–Ω–µ–π—à–∏–º–∏ —à–∞–≥–∞–º–∏ –≤ –∫–∞—Ä—å–µ—Ä–Ω–æ–º —Ä–∞–∑–≤–∏—Ç–∏–∏ –≤ —Å—Ñ–µ—Ä–µ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö.

## –¶–µ–ª—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è

–í–∏–∑—É–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —Ä—ã–Ω–∫–µ –≤–∞–∫–∞–Ω—Å–∏–π –¥–ª—è Junior Data Analyst –≤ –ï–≤—Ä–æ–ø–µ.

## –ó–∞–¥–∞—á–∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è

–ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö:
1. –≤—ã–≥—Ä—É–∑–∏—Ç—å –¥–∞—Ç–∞—Å–µ—Ç –∏–∑ LinkedIn –∏ –ø—Ä–æ–≤–µ—Å—Ç–∏ –µ–≥–æ –æ–±–∑–æ—Ä;
2. –ø—Ä–æ–≤–µ—Å—Ç–∏ –æ–±—Ä–∞–±–æ—Ç–∫—É –¥–∞–Ω–Ω—ã—Ö: –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏, –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –Ω–∞ –¥—É–±–ª–∏—Ä–æ–≤–∞–Ω–∏–µ, –∏–∑–º–µ–Ω–∏—Ç—å —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –ø—Ä–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç–∏;
3. –ø–µ—Ä–µ–≤–µ—Å—Ç–∏ –¥–∞–Ω–Ω—ã–µ –Ω–∞ –æ–¥–∏–Ω —è–∑—ã–∫ (–∞–Ω–≥–ª–∏–π—Å–∫–∏–π);
4. –∏—Å–∫–ª—é—á–∏—Ç—å –∏–∑ –ø–µ—Ä–µ—á–Ω—è –≤–∞–∫–∞–Ω—Å–∏–π —Ç–∏–º–ª–∏–¥–æ–≤, —Å–µ–Ω—å–æ—Ä–æ–≤ –∏ –º–∏–¥–¥–ª–æ–≤;
5. –≤—ã—Ç–∞—â–∏—Ç—å –∏–∑ –æ–ø–∏—Å–∞–Ω–∏—è –≤–∞–∫–∞–Ω—Å–∏–∏ hard skills, –∫–æ—Ç–æ—Ä—ã–µ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—å —Ç—Ä–µ–±—É–µ—Ç –æ—Ç —Å–æ–∏—Å–∫–∞—Ç–µ–ª—è;
6. —É–¥–∞–ª–∏—Ç—å –ª–∏—à–Ω–∏–µ —Å—Ç–æ–ª–±—Ü—ã –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –ø—Ä–∏–≥–æ–¥—è—Ç—Å—è –¥–ª—è –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏.

–í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö:
–ü–æ—Å—Ç—Ä–æ–∏—Ç—å –∏–Ω—Ç–µ—Ä–∞–∫—Ç–∏–≤–Ω—ã–π –¥–∞—à–±–æ—Ä–¥ –≤ –ª—é–±–æ–π –∏–∑ BI —Å–∏—Å—Ç–µ–º (—Å —É—á–µ—Ç–æ–º –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ —Ä–∞—Å—à–∞—Ä–∏—Ç—å —ç—Ç–æ—Ç –¥–∞—à–±–æ—Ä–¥). –ü–æ —Ç—Ä–µ–±–æ–≤–∞–Ω–∏—é –æ—Ç –∑–∞–∫–∞–∑—á–∏–∫–∞ –¥–∞—à–±–æ—Ä–¥ –¥–æ–ª–∂–µ–Ω —Å–æ–¥–µ—Ä–∂–∞—Ç—å:
1. `—Ñ–∏–ª—å—Ç—Ä—ã` ‚Äî –ø–æ —Å—Ç—Ä–∞–Ω–µ –∏ –ø–æ —Ç–∏–ø—É –∑–∞–Ω—è—Ç–æ—Å—Ç–∏;
2. –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π (–∞–±—Å–æ–ª—é—Ç–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è) ‚Äì `–∏–Ω–¥–∏–∫–∞—Ç–æ—Ä`;
3. –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ —Å—Ç—Ä–∞–Ω–∞–º (–æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è) ‚Äî `stack bar chart`;
4. —Ç–∏–ø –∑–∞–Ω—è—Ç–æ—Å—Ç–∏ ‚Äî `pie chart`;
5. —Å–ø–∏—Å–æ–∫ –Ω–∞–Ω–∏–º–∞—é—â–∏—Ö –∫–æ–º–ø–∞–Ω–∏–π —Å —É–∫–∞–∑–∞–Ω–∏–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π, –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω–Ω—ã–π –≤ –ø–æ—Ä—è–¥–∫–µ —É–±—ã–≤–∞–Ω–∏—è - `heat map`;
6. –¢–û–ü 10 —Å—Ñ–µ—Ä –¥–µ—è—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ –∫–æ–º–ø–∞–Ω–∏–π, –∫–æ—Ç–æ—Ä—ã–µ –Ω–∞–Ω–∏–º–∞—é—Ç –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤ ‚Äî `barchart`;
7. —Ä–∞–∑–º–µ—Ä –∫–æ–º–ø–∞–Ω–∏–π –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π ‚Äî `pie chart`;
8. hard skills ‚Äî `barchart`;
9. –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∫–∞–Ω–¥–∏–¥–∞—Ç–æ–≤ –Ω–∞ –≤–∞–∫–∞–Ω—Å–∏—é –æ—Ç –¥–∞—Ç—ã –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –æ–±—ä—è–≤–ª–µ–Ω–∏—è ‚Äî `–ª–∏–Ω–µ–π–Ω—ã–π –≥—Ä–∞—Ñ–∏–∫`;
10. –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ –≥–æ—Ä–æ–¥–∞–º - `map`.

## –ò—Å—Ç–æ—á–Ω–∏–∫ –¥–∞–Ω–Ω—ã—Ö

–î–∞—Ç–∞—Å–µ—Ç –ê–Ω–∞–ª–∏—Ç–∏–∫ + bi –∞–Ω–∞–ª–∏—Ç–∏–∫ (–¥–∂—É–Ω) - https://disk.yandex.ru/d/Rlo2KdJRve6fkw

## –°—Ç—Ä—É–∫—Ç—É—Ä–∞ –¥–∞—Ç–∞—Å–µ—Ç–∞

1. `job_title` - –Ω–∞–∑–≤–∞–Ω–∏–µ –≤–∞–∫–∞–Ω—Å–∏–∏;
2. `area` - –ø–æ–ª–Ω–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ –º–µ—Å—Ç–∞ —Ä–∞–±–æ—Ç—ã;
3. `city` - –≥–æ—Ä–æ–¥ –º–µ—Å—Ç–∞ —Ä–∞–±–æ—Ç—ã;
4. `country` - —Å—Ç—Ä–∞–Ω–∞ –º–µ—Å—Ç–∞ —Ä–∞–±–æ—Ç—ã;
5. `workplace` - —Ç–∏–ø –∑–∞–Ω—è—Ç–æ—Å—Ç–∏;
6. `company_name` - –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–º–ø–∞–Ω–∏–∏-—Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è;
7. `industry` - —Å—Ñ–µ—Ä–∞ –¥–µ—è—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ –∫–æ–º–ø–∞–Ω–∏–∏-—Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è;
8. `company_size` - —Ä–∞–∑–º–µ—Ä –∫–æ–º–ø–∞–Ω–∏–∏-—Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è;
9. `job_description` - –æ–ø–∏—Å–∞–Ω–∏–µ –≤–∞–∫–∞–Ω—Å–∏–∏;
10. `posted_date` - –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –≤–∞–∫–∞–Ω—Å–∏–∏;
11. `applicants` - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–∫–ª–∏–∫–æ–≤ –Ω–∞ –≤–∞–∫–∞–Ω—Å–∏—é.

–î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –≤ —Ö–æ–¥–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –±—É–¥—É—Ç —Å–æ–∑–¥–∞–Ω—ã –¥–≤–∞ –Ω–æ–≤—ã—Ö —Å—Ç–æ–ª–±—Ü–∞:
1. `right_posted_date` - –ø—Ä–æ–∏–∑–≤–æ–¥–Ω—ã–π –æ—Ç —Å—Ç–æ–ª–±—Ü–∞ `posted_date` —Å –¥–∞—Ç–æ–π –≤ —Ñ–æ—Ä–º–∞—Ç–µ –≥–≥–≥.–º–º.–¥–¥
2. `hard skills` - –ø—Ä–æ–∏–∑–≤–æ–¥–Ω—ã–π –æ—Ç —Å—Ç–æ–ª–±—Ü–∞ `job_description`, –≥–¥–µ —Å–æ–±—Ä–∞–Ω—ã –∫–ª—é—á–µ–≤—ã–µ hard skills.

## –ò—Å–ø–æ–ª—å–∑—É–µ–º—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏

In [1]:
# –ò–º–ø–æ—Ä—Ç –≤—Å–ø–æ–º–æ–≥–∞—Ç–µ–ª—å–Ω—ã—Ö –±–∏–±–ª–∏–æ—Ç–µ–∫
import pandas as pd # –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å —Ç–∞–±–ª–∏—Ü–µ–π 
import dateparser # –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å –¥–∞—Ç–∞–º–∏
from googletrans import Translator # –¥–ª—è –ø–µ—Ä–µ–≤–æ–¥–∞ —Ç–µ–∫—Å—Ç–∞
import re # —Ä–µ–≥—É–ª—è—Ç–æ—Ä–Ω—ã–µ –≤—ã—Ä–∞–∂–µ–Ω–∏—è –¥–ª—è –≤—ã—á–ª–µ–Ω–µ–Ω–∏—è hard skills

## –ó–Ω–∞–∫–æ–º—Å—Ç–≤–æ —Å –¥–∞—Ç–∞—Å–µ—Ç–æ–º

In [2]:
# –í—ã–≥—Ä—É–∑–∫–∞ –¥–∞—Ç–∞—Å–µ—Ç–∞ –∏ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –µ–≥–æ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π df:
df = pd.read_csv('C:\\Users\\MSI\\Desktop\\Project\\masterskaya_LinkedIn_2023_05.csv')

In [3]:
# –ó–Ω–∞–∫–æ–º—Å—Ç–≤–æ —Å –¥–∞—Ç–∞—Å–µ—Ç–æ–º:
df.head()

,Unnamed: 0,job_title,area,city,country,workplace,company_name,industry,company_size,job_description,posted_date,applicants
0,0,Data Analyst,"['Basel', 'Basel', 'Switzerland']",Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,Staffing & Recruiting,11-50,About the job\n \n\n \n ...,1 week ago,47.0
1,1,Data Analyst - Logistics,"['Coventry', 'England', 'United Kingdom']",Coventry,United Kingdom,On-site,Resolute Recruitment,NaN,NaN,About the job,1 week ago,NaN
2,2,Data Analyst - Logistics,"['Coventry', 'England', 'United Kingdom']",Coventry,United Kingdom,On-site,Resolute Recruitment,NaN,NaN,About the job\n \n\n \nData Analyst - L...,1 week ago,NaN
3,3,Data Analyst (Space & Planning),"['South Molton', 'England', 'United Kingdom']",South Molton,United Kingdom,On-site,Mole Valley Farmers,NaN,NaN,About the job\n \n\n \nSalary: To be di...,1 week ago,NaN
4,4,Data Analyst,"['Lugano', 'Ticino', 'Switzerland']",Lugano,Switzerland,On-site,FORFIRM,NaN,NaN,About the job\n \n\n \nFORFIRM is provi...,2 weeks ago,NaN

In [4]:
# –ó–Ω–∞–∫–æ–º—Å—Ç–≤–æ —Å –¥–∞—Ç–∞—Å–µ—Ç–æ–º
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       998 non-null    int64
 1   job_title        998 non-null    object
 2   area             998 non-null    object
 3   city             998 non-null    object
 4   country          998 non-null    object
 5   workplace        930 non-null    object
 6   company_name     996 non-null    object
 7   industry         964 non-null    object
 8   company_size     963 non-null    object
 9   job_description  998 non-null    object
 10  posted_date      998 non-null    object
 11  applicants       838 non-null    float64
dtypes: float64(1), int64(1), object(10)
memory usage: 93.7+ KB

–î–∞–Ω–Ω—ã–µ —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω—ã –∏ –ø–µ—Ä–≤–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –ø–æ –Ω–∏–º —É—Å–ø–µ—à–Ω–æ –ø–æ–ª—É—á–µ–Ω–∞. –î–∞—Ç–∞—Å–µ—Ç —Å–æ—Å—Ç–æ–∏—Ç –∏–∑ 12 —Å—Ç–æ–ª–±—Ü–æ–≤ –∏ 998 —Å—Ç—Ä–æ–∫. –ù–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤ –ø—Ä–∏–≤–µ–¥–µ–Ω—ã –∫ –∑–º–µ–∏–Ω–æ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É, —á—Ç–æ –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ —É–ø—Ä–æ—â–∞–µ—Ç –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ. –£ –∫–∞–∂–¥–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ –µ—Å—Ç—å –¥–≤–µ –ø—Ä–æ–±–ª–µ–º—ã: –Ω–µ–≤–µ—Ä–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –∏ –Ω–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π (`workplace`, `company_name`, `industry`, `company_size`, `applicants`).

## –†–∞–±–æ—Ç–∞ —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏

In [5]:
# –ó–Ω–∞–∫–æ–º—Å—Ç–≤–æ —Å–æ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ —Å—Ç–æ–ª–±—Ü–∞ workplace:
df['workplace'].value_counts()

workplace
Hybrid     486
On-site    343
Remote     101
Name: count, dtype: int64

In [6]:
# –ó–∞–º–µ–Ω–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –Ω–∞ –∑–Ω–∞—á–µ–Ω–∏–µ no datas:
df['workplace'] = df['workplace'].fillna('No datas')
df['workplace'].value_counts()

workplace
Hybrid      486
On-site     343
Remote      101
No datas     68
Name: count, dtype: int64

–ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ `workplace` –º—ã –∫–ª–∞—Å—Å–∏—Ñ–∏—Ü–∏—Ä—É–µ–º –∫–∞–∫ `MNAR`. –¢–∞–∫ –∫–∞–∫ –Ω–∞–º –Ω–µ–∏–∑–≤–µ—Å—Ç–Ω–∞ –ø—Ä–∏—Ä–æ–¥–∞ —ç—Ç–∏—Ö –ø—Ä–æ–ø—É—Å–∫–æ–≤, —Ç–æ —Å–∞–º—ã–º –æ–ø—Ç–∏–º–∞–ª—å–Ω—ã–º —Ä–µ—à–µ–Ω–∏–µ–º –±—É–¥–µ—Ç –ø–æ—Å—Ç–∞–≤–∏—Ç—å –∑–∞–≥–ª—É—à–∫—É –≤ –≤–∏–¥–µ `No datas`.

In [7]:
# –£–¥–∞–ª–µ–Ω–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö —Å—Ç—Ä–æ–∫ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö company_name,
# industry, company_size
df = df.dropna(subset=['company_name', 'industry','company_size'])

–î–∞–Ω–Ω—ã–π —à–∞–≥ –±—ã–ª –≤—ã–ø–æ–ª–Ω–µ–Ω, –ø–æ—Å–∫–æ–ª—å–∫—É —Å—Ç–æ–ª–±—Ü—ã –Ω—É–∂–Ω—ã –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–∏—Ö –ø–æ–¥—Å—á–µ—Ç–æ–≤. –ï—Å–ª–∏ –ø–æ–¥–æ–±–Ω—ã–µ –≤–∞–∫–∞–Ω—Å–∏–∏ —Å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –æ—Å—Ç–∞–≤–∏—Ç—å, —Ç–æ –æ–Ω–∏ –≤—Å–µ —Ä–∞–≤–Ω–æ –Ω–µ –±—É–¥—É—Ç —É—á–∏—Ç—ã–≤–∞—Ç—å—Å—è –≤ –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏, –∞ —Å–∞–º–æ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –≤—ã–π–¥–µ—Ç –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–º, –µ—Å–ª–∏, –¥–æ–ø—É—Å—Ç–∏–º, –≤ –æ–¥–Ω–æ–π —Å—Ç—Ä–æ–∫–µ —Å—Ç–æ–ª–±–µ—Ü —Å –Ω–∞–∑–≤–∞–Ω–∏–µ–º –∫–æ–º–ø–∞–Ω–∏–∏ –±—É–¥–µ—Ç –∑–∞–ø–æ–ª–Ω–µ–Ω, –∞ —Å –∏–Ω–¥—É—Å—Ç—Ä–∏–µ–π - –Ω–µ—Ç.

–°–ª–µ–¥—É—é—â–∏–º —à–∞–≥–æ–º –±—É–¥–µ—Ç –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å —Å—Ç–æ–ª–±–µ—Ü `applicants`. –ò–∑ —É—Å–ª–æ–≤–∏—è –º—ã –∑–Ω–∞–µ–º, —á—Ç–æ –∑–¥–µ—Å—å —Å–æ—Ö—Ä–∞–Ω–µ–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–∫–ª–∏–∫–æ–≤ –Ω–∞ –≤–∞–∫–∞–Ω—Å–∏–∏. –†–∞–∑—É–º–Ω–æ –ø—Ä–µ–¥–ø–æ–ª–æ–∂–∏—Ç—å –≥–∏–ø–æ—Ç–µ–∑—É –æ —Ç–æ–º, —á—Ç–æ –ø—Ä–æ–ø—É—Å–∫–∏ —Å–≤—è–∑–∞–Ω—ã —Å —Ç–µ–º, —á—Ç–æ –Ω–∞ –≤–∞–∫–∞–Ω—Å–∏—é –Ω–µ –æ—Ç–∫–ª–∏–∫–∞–ª–∏—Å—å. –ù–æ –ø—Ä–µ–∂–¥–µ —á–µ–º –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –∑–Ω–∞—á–µ–Ω–∏–µ–º 0, —É–±–µ–¥–∏–º—Å—è, —á—Ç–æ —Ç–∞–∫–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è –Ω–µ—Ç –≤ –¥–∞–Ω–Ω—ã—Ö:

In [8]:
df.query('applicants == 0')

Empty DataFrame
Columns: [Unnamed: 0, job_title, area, city, country, workplace, company_name, industry, company_size, job_description, posted_date, applicants]
Index: []

In [9]:
# –ó–∞–º–µ–Ω–∞ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ applicants –Ω–∞ 0
df['applicants'] = df['applicants'].fillna(0)

–í —Å—Ç–æ–ª–±—Ü–µ aplicants —Å–æ—Ö—Ä–∞–Ω–µ–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–∫–ª–∏–∫–æ–≤ –Ω–∞ –≤–∞–∫–∞–Ω—Å–∏—é. –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç—Ä–æ–∫–∞—Ö –≥–æ–≤–æ—Ä—è—Ç –æ —Ç–æ–º, —á—Ç–æ –Ω–∞ —ç—Ç—É –≤–∞–∫–∞–Ω—Å–∏—é —Å–æ–∏—Å–∫–∞—Ç–µ–ª–∏ –Ω–µ –æ—Ç–∫–ª–∏–∫–∞–ª–∏—Å—å, –ø–æ—ç—Ç–æ–º—É –±—É–¥–µ—Ç —Ä–∞–∑—É–º–Ω—ã–º –∑–∞–º–µ–Ω–∏—Ç—å –∏—Ö –Ω–∞ 0.

<font color='#31708f'>üìù <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –ü–æ –≥–∏–ø–æ—Ç–µ–∑–µ –≤–æ–∑–Ω–∏–∫–Ω–æ–≤–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤—Å–µ –≤–µ—Ä–Ω–æ, –Ω–æ –ø–µ—Ä–µ–¥ –∑–∞–º–µ–Ω–æ–π –Ω–∞ –æ–¥–Ω–æ –∏–∑ –∑–Ω–∞—á–µ–Ω–∏–π, —Ö–æ—Ä–æ—à–æ –±—ã —É–±–µ–¥–∏—Ç—å—Å—è, —á—Ç–æ —Ç–∞–∫–∏—Ö –∑–Ω–∞—á–µ–Ω–∏–π –Ω–µ –±—ã–ª–æ –≤ –¥–∞–Ω–Ω—ã—Ö. –¢.–µ. –≤ –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å, –µ—Å—Ç—å –ª–∏ 0 –≤ —ç—Ç–æ–º —Å—Ç–æ–ª–±—Ü–µ.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 963 entries, 0 to 997
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       963 non-null    int64
 1   job_title        963 non-null    object
 2   area             963 non-null    object
 3   city             963 non-null    object
 4   country          963 non-null    object
 5   workplace        963 non-null    object
 6   company_name     963 non-null    object
 7   industry         963 non-null    object
 8   company_size     963 non-null    object
 9   job_description  963 non-null    object
 10  posted_date      963 non-null    object
 11  applicants       963 non-null    float64
dtypes: float64(1), int64(1), object(10)
memory usage: 97.8+ KB

–í —Ö–æ–¥–µ –ø–µ—Ä–≤–∏—á–Ω–æ–π –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥–∞–Ω–Ω—ã—Ö –±—ã–ª–æ —É–¥–∞–ª–µ–Ω–æ 35 —Å—Ç—Ä–æ–∫, —á—Ç–æ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω 3,5% –æ—Ç –≤—Å–µ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞, –∞ –∑–Ω–∞—á–∏—Ç –Ω–∞ –æ—Å–Ω–æ–≤–Ω—É—é –∫–∞—Ä—Ç–∏–Ω—É –Ω–∏–∫–∞–∫ –Ω–µ –ø–æ—è–≤–ª–∏—è–µ—Ç.

## –ò–∑–º–µ–Ω–µ–Ω–∏–µ —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö

In [11]:
# –î–ª—è —Å—Ç–æ–ª–±—Ü–æ–≤, —Å–æ–¥–µ—Ä–∂–∞—â–∏—Ö –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ —Ç–µ–∫—Å—Ç–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ,
# –¥–µ–ª—è–µ–º –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –≤ —Ç–µ–∫—Å—Ç, —Å—Ç–∞–≤–∏–º –Ω–∏–∂–Ω–∏–π —Ä–µ–≥–∏—Å—Ç—Ä
# —É–¥–∞–ª—è–µ–º –ª–∏—à–Ω–∏–µ –ø—Ä–æ–±–µ–ª—ã:
df['job_title'] = (df['job_title']
                 .astype('string')
                 .str.lower()
                 .str.strip()
                )

df['area'] = (df['area']
                 .astype('string')
                 .str.lower()
                 .str.strip()
                )
df['city'] = (df['city']
                 .astype('string')
                 .str.lower()
                 .str.strip()
                )

In [12]:
# –î–ª—è —Å—Ç–æ–ª–±—Ü–æ–≤, —Å–æ–¥–µ—Ä–∂–∞—â–∏—Ö –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ —Ç–µ–∫—Å—Ç–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ,
# –¥–µ–ª—è–µ–º –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –≤ —Ç–µ–∫—Å—Ç, —Å—Ç–∞–≤–∏–º –Ω–∏–∂–Ω–∏–π —Ä–µ–≥–∏—Å—Ç—Ä
# —É–¥–∞–ª—è–µ–º –ª–∏—à–Ω–∏–µ –ø—Ä–æ–±–µ–ª—ã:
df['country'] = (df['country']
                 .astype('string')
                 .str.lower()
                 .str.strip()
                )

df['workplace'] = (df['workplace']
                 .astype('string')
                 .str.lower()
                 .str.strip()
                )
df['company_name'] = (df['company_name']
                 .astype('string')
                 .str.lower()
                 .str.strip()
                )

In [13]:
# –î–ª—è —Å—Ç–æ–ª–±—Ü–æ–≤, —Å–æ–¥–µ—Ä–∂–∞—â–∏—Ö –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ —Ç–µ–∫—Å—Ç–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ,
# –¥–µ–ª—è–µ–º –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –≤ —Ç–µ–∫—Å—Ç, —Å—Ç–∞–≤–∏–º –Ω–∏–∂–Ω–∏–π —Ä–µ–≥–∏—Å—Ç—Ä
# —É–¥–∞–ª—è–µ–º –ª–∏—à–Ω–∏–µ –ø—Ä–æ–±–µ–ª—ã:
df['industry'] = (df['industry']
                 .astype('string')
                 .str.lower()
                 .str.strip()
                )

df['company_size'] = (df['company_size']
                 .astype('string')
                 .str.lower()
                 .str.strip()
                )
df['job_description'] = (df['job_description']
                 .astype('string')
                 .str.lower()
                 .str.strip()
                )

In [14]:
# –° –¥–∞—Ç–æ–π –ø–æ—Å—Ç—É–ø–∞–µ–º —Ç–∞–∫ –∂–µ, –∫–∞–∫ –∏ —Å —Ç–µ–∫—Å—Ç–æ–º
# –î–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
df['posted_date'] = (df['posted_date']
                 .astype('string')
                 .str.lower()
                 .str.strip()
                )
# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–∫–ª–∏–∫–æ–≤ - —á–∏—Å–ª–∞ —Ü–µ–ª—ã–µ:
df['applicants'] = (df['applicants']
                 .astype('int')
                )

–ü—Ä–∏–≤–µ–¥–µ–Ω–∏–µ —Ç–µ–∫—Å—Ç–∞ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É –∏ —É–¥–∞–ª–µ–Ω–∏–µ –ª–∏—à–Ω–∏—Ö –ø—Ä–æ–±–µ–ª–æ–≤ –±—ã–ª–æ —Å–¥–µ–ª–∞–Ω–æ –¥–ª—è —É–ø—Ä–æ—â–µ–Ω–∏—è –ø—Ä–æ—Ü–µ—Å—Å–∞ –Ω–∞—Ö–æ–∂–¥–µ–Ω–∏—è –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤.

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 963 entries, 0 to 997
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       963 non-null    int64
 1   job_title        963 non-null    string
 2   area             963 non-null    string
 3   city             963 non-null    string
 4   country          963 non-null    string
 5   workplace        963 non-null    string
 6   company_name     963 non-null    string
 7   industry         963 non-null    string
 8   company_size     963 non-null    string
 9   job_description  963 non-null    string
 10  posted_date      963 non-null    string
 11  applicants       963 non-null    int32
dtypes: int32(1), int64(1), string(10)
memory usage: 94.0 KB

In [16]:
# –°–æ–∑–¥–∞–µ–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü –¥–ª—è –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è —Ç–µ–∫—Å—Ç–∞ –≤ –¥–∞—Ç—É
# —Å—Ä–µ–¥—Å—Ç–≤–∞–º–∏ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ dataparser:
df['right_posted_date'] = (df['posted_date'].apply(
    lambda x: dateparser.parse(x))
                          )
# –î–ª—è –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è –∫–æ–º–∞–Ω–¥—ã –∫–æ –≤—Å–µ–º—É —Å—Ç–æ–ª–±—Ü—É –ø–∏—à–µ–º
# –ø—Ä–æ—Å—Ç—É—é –ª—è–º–±–¥–∞-—Ñ—É–Ω–∫—Ü–∏—é

In [17]:
# –ü—Ä–∏–≤–æ–¥–∏–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü –≤ —Ñ–æ—Ä–º–∞—Ç –¥–∞—Ç—ã
df['right_posted_date'] = pd.to_datetime(df['right_posted_date']).dt.date

In [18]:
# –°–º–æ—Ç—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–π
df.head()

,Unnamed: 0,job_title,area,city,country,workplace,company_name,industry,company_size,job_description,posted_date,applicants,right_posted_date
0,0,data analyst,"['basel', 'basel', 'switzerland']",basel,switzerland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,about the job what...,1 week ago,47,2024-01-09
23,23,data analyst ii,"['dublin', 'county dublin', 'ireland']",dublin,ireland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,about the job titl...,1 week ago,30,2024-01-09
25,25,business intelligence analyst,"['cracow', 'ma≈Çopolskie', 'poland']",cracow,poland,hybrid,getinge,medical device,"10,001+",about the job at getinge we have t...,3 weeks ago,70,2023-12-26
26,26,data analyst (f/h),"['dijon', 'bourgogne-franche-comt√©', 'france']",dijon,france,hybrid,neos-sdi,information technology & services,51-200,about the job l‚Äô√©quipe data de dij...,1 week ago,141,2024-01-09
27,27,bi analyst,"['als√≥n√©medi', 'pest', 'hungary']",als√≥n√©medi,hungary,hybrid,gls,transportation/trucking/railroad,"10,001+",about the job a gls dinamikusan n√∂...,1 week ago,36,2024-01-09

–í—Å–µ –¥–∞–Ω–Ω—ã–µ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω—ã –∫ –Ω—É–∂–Ω–æ–º—É —Ç–∏–ø—É –¥–∞–Ω–Ω—ã—Ö.

## –ü–µ—Ä–µ–≤–æ–¥ —Ç–µ–∫—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö –Ω–∞ –∞–Ω–≥–ª–∏–π—Å–∫–∏–π —è–∑—ã–∫

–î–ª—è –ø–µ—Ä–µ–≤–æ–¥–∞ –¥–∞–Ω–Ω—ã—Ö –∫ –µ–¥–∏–Ω–æ–º—É —è–∑—ã–∫—É –≤–æ—Å–ø–æ–ª—å–∑—É–µ–º—Å—è —Å—Ä–µ–¥—Å—Ç–≤–∞–º–∏ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ `googletrans`:

In [19]:
# –°–º–æ—Ç—Ä–∏–º —Å–ø–∏—Å–æ–∫ –≤–∞–∫–∞–Ω—Å–∏–π
df['job_title'].value_counts()

job_title
data analyst                                              83
online data analyst                                       38
data analyst - milano                                     28
data analyst (m/w/d)                                      25
datov√Ω analytik                                           19
                                                          ..
l.t.e. s.p.a. - ingegnere di processo                      1
operational specialist                                     1
consultant senior microsoft bi - power bi expert h/f       1
application support specialist - business intelligence     1
analista de datos bi                                       1
Name: count, Length: 532, dtype: Int64

–í–∏–¥–Ω–æ, —á—Ç–æ –¥–∞–Ω–Ω—ã–µ –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ –º—É–ª—å—Ç–∏—è–∑—ã—á–Ω—ã–µ (–ø–æ –º–∏–º–æ –∞–Ω–≥–ª–∏–π—Å–∫–æ–≥–æ - —á–µ—à—Å–∫–∏–π, –ø–æ–ª—å—Å–∫–∏–π, –Ω–µ–º–µ—Ü–∫–∏–π, –∏—Ç–∞–ª—å—è–Ω—Å–∫–∏–π –∏ —Ç.–¥.), –æ—Ç —Ç–æ–≥–æ –µ—Å—Ç—å –ø–æ—Ç—Ä–µ–±–Ω–æ—Å—Ç—å –ø–µ—Ä–µ–≤–µ—Å—Ç–∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é, —Å–æ–¥–µ—Ä–∂–∞—â—É—é—Å—è –≤ —Ç–∞–±–ª–∏—Ü–µ, –∫ –µ–¥–∏–Ω–æ–º—É —è–∑—ã–∫—É. –í –¥–∞–Ω–Ω–æ–º –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–∏ –±—É–¥–µ—Ç —Ä–∞–∑—É–º–Ω–æ –ø–µ—Ä–µ–≤–µ—Å—Ç–∏ –≤—Å–µ –Ω–∞ –∞–Ω–≥–ª–∏–π—Å–∫–∏–π —è–∑—ã–∫, —Ç–∞–∫ –∫–∞–∫ –¥–∞–Ω–Ω—ã–µ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –∫–∏—Ä–∏–ª–ª–∏—Ü—ã –º–æ–≥—É—Ç –æ—Ç–æ–±—Ä–∞–∂–∞—Ç—å—Å—è –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ.

In [20]:
# –°—Ä–µ–¥—Å—Ç–≤–∞–º–∏ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ traclator –ø–µ—Ä–µ–≤–æ–¥–∏–º
# –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –≤ —Ç–∞–±–ª–∏—Ü–µ –Ω–∞ –∞–Ω–≥–ª–∏–π—Å–∫–∏–π —è–∑—ã–∫
translator = Translator()
df['job_title']= df['job_title'].apply(lambda x: translator.translate(x, dest='en').text)
# –î–ª—è –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è –ø–µ—Ä–µ–≤–æ–¥–∞ –∫–æ –≤—Å–µ–º—É —Å—Ç–æ–ª–±—Ü—É job_title
# –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –ø—Ä–æ—Å—Ç–∞—è –ª—è–º–±–¥–∞-—Ñ—É–Ω–∫—Ü–∏—è

In [21]:
# –ü—Ä–æ–≤–µ—Ä–∫–∞
df['job_title'].value_counts()

job_title
data analyst                      117
online data analyst                38
data analyst - milano              28
data analyst (m/w/d)               25
data analyst:in                    19
                                 ...
product manager                     1
rehabilitation project manager      1
course coordination employee        1
seller for the Skaraborg area       1
bi data analyst                     1
Name: count, Length: 520, dtype: int64

In [22]:
# –ê–Ω–∞–ª–æ–≥–∏—á–Ω–æ –ø–æ—Å—Ç—É–ø–∞–µ–º –∏ —Å–æ —Å—Ç–æ–ª–±—Ü–æ–º job_description,
# –∫–æ—Ç–æ—Ä—ã–µ —Ç–æ–∂–µ —è–≤–ª—è–µ—Ç—Å—è –º—É–ª—å—Ç–∏—è–∑—ã—á–Ω—ã–º
df ['job_description']= df['job_description'].apply(lambda x: translator.translate(x, dest='en').text)

–í –¥–∞–Ω–Ω–æ–º —à–∞–≥–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –≤—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –≤ —Ç–∞–±–ª–∏—Ü–µ –±—ã–ª–∞ –ø—Ä–∏–≤–µ–¥–µ–Ω–∞ –∫ –µ–¥–∏–Ω–æ–º—É —è–∑—ã–∫—É. –≠—Ç–æ —É–ø—Ä–æ—Å—Ç–∏—Ç –∑–∞–¥–∞—á—É –ø–æ –æ—Ç—Å–µ–∏–≤–∞–Ω–∏—é –Ω–µ-–¥–∂—É–Ω–æ–≤ –∏ –ø–æ –≤—ã—á–ª–µ–Ω–µ–Ω–∏—é hard skills.

## –ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –¥—É–±–ª–∏–∫–∞—Ç—ã

In [23]:
df.duplicated().sum()

0

–î—É–±–ª–∏–∫–∞—Ç—ã –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç.

## –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö

### –í—ã–±–æ—Ä–∫–∞ –∏–∑ –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤ —Å–æ–≥–ª–∞—Å–Ω–æ –¢–ó

In [24]:
# –°–º–æ—Ç—Ä–∏–º —Å–ø–∏—Å–æ–∫ –≤–∞–∫–∞–Ω—Å–∏–π:
list(df['job_title'].unique())

['data analyst',
 'data analyst ii',
 'business intelligence analyst',
 'data analyst (f/h)',
 'bi analyst',
 'data analyst associate',
 'product data analyst',
 'graduate data analyst',
 'digital data analyst',
 'business intelligence analyst junior',
 'data analyst h/f',
 'data analyst (m/f/d)',
 'analytics consultant',
 'data analyst f/h',
 'bi consultant',
 'statistical data analyst',
 'digital data analyst (h/f)',
 'data analyst - ‚Ç¨60,- per hour - amsterdam based',
 'data & analytics senior analyst',
 'junior data analyst ‚Äì aerospace',
 'data analyst - operations',
 'data analyst (h/f)',
 'business intelligence analyst (m/w/d)',
 'senior data analyst',
 'junior data analyst',
 'web data analyst f/h',
 'business analyst_power bi',
 'junior data analyst power bi - 6 month contract',
 'data analyst - milano',
 'data analyst (engineer)',
 'data analyst h/f _ cdd',
 'data analyst - data analyst',
 'bi analyst, power bi champion, cee based in warsaw',
 'data analyst tableau',
 'sql/data analyst (m/w/d)',
 'data analyst reporting',
 'junior data analyst sustainability',
 'data analyst (h/f) - cdi',
 'cdi - data analyst h/f - yves rocher',
 'data analyst - h/f',
 'retail business analyst',
 'global onsite data analyst (m/w/d)',
 'bi analyst (m/w/d)',
 'bi-analyst (m/w/d)',
 'data analyst - confirmed',
 'data analyst (m/w/d)',
 'data analyst  h/f',
 'data analyst-(h/f)',
 'data & analytics analyst - bari, roma',
 'junior data analyst/associate (m/f/d)',
 'bi application consultant',
 'business intelligence consultant',
 'data analysis and reporting team lead',
 'junior data analyst / business intelligence expert (gn)',
 'business data analyst-(h/f)',
 'bi analyst - tableau or other bi tools',
 'commercial data analyst travel',
 'junior/mid data analyst',
 'data science analyst',
 'junior data analist',
 'data analyst - hybrid - permanent',
 'data analyst - finance',
 'data analyst / decision scientist, marketing',
 '(junior) consumer business intelligence analyst (m/w/d)',
 'principal data analyst - growth',
 'insight analyst (m/f/x)',
 'data analyst costing',
 'business data analyst (m/w/d)',
 'information analyst',
 'data analyst cbr',
 'power bi / data analyst (m/w/d)',
 'junior master data analyst',
 'data analyst - transportation',
 'data analyst power bi f/h',
 'data analyst (m/f)',
 'consultant power bi ‚Äì data analyst (f/h)',
 'conversion master data analyst to procter & gamble',
 'consultant (m/w/d) - business intelligence',
 'monitoring & data analyst (solar pv)',
 'data analyst / data scientist (m/f/d)',
 'data analyst ‚Äì web & app (m/w/d)',
 'data governance analyst',
 'business intelligence consultant/lead',
 'sales data analyst',
 'salesforce data analyst (f/m/d)',
 'consultant bi lyon - h/f',
 'corporate product master specialist/data analyst',
 'consultant bi / msbi  f/h',
 'data analyst (slovakia) irc183410',
 'bi analyst (m/w/d) marketing',
 'data analyst power bi (m/w/d)',
 'data analyst | deals (m&a) | cdi | h/f',
 'data analyst (assortment)',
 'wavemaker i data analyst with python',
 'data analyst telco',
 'junior insight analyst',
 'data analyst h/f h/f',
 'online data analyst',
 'data analyst (m/w/d) im controlling',
 'data analyst (mobile)',
 'data analyst (m/f/x)',
 'data analyst - scores & etudes',
 'data analyst, metrics & reporting',
 'work-study program - data analyst - data etl & visualization (m/f/d)',
 'customer data platform analyst',
 'cdi - data analyst f/h',
 'analytics consultant ‚Äì mckinsey digital',
 'senior data analyst (f/m/d) - onsite or remote / home office',
 'analytics consultant, power bi',
 'senior data analyst (m/f/d)',
 'crm data analyst (m/w/d)',
 'data analyst assessor',
 'intermediate data analyst',
 'data analyst m/f',
 'data analyst processing dept (guissona)',
 'data analyst - work-study - boursorama-(m/f)',
 'junior data scientist/analyst (m/w/d)',
 'operations data analyst (they/she/he)',
 'senior business intelligence consultant',
 'data scientist',
 'strategic marketing data analyst - boursorama-(m/f)',
 'business intelligence consultant (m/w/d) power bi oder qlik',
 'packaging specification technologist and data analyst',
 'junior / medior web data analyst',
 'senior bi consultant',
 'quality data analyst (m|w|d)',
 'digital data analyst (32-38 hours)',
 'data analyst pilotage operationnel h/f',
 'insights analyst',
 'junior insights analyst (w/m/d)',
 'data scientist - data analyst',
 'bi-consultant',
 'inhouse bi consultant / bi spezialist (m/w/d)',
 '(esg) data analyst (w/m/d)',
 'data analyst - marketing & communications insight',
 'Information Analyst',
 'data analyst:in',
 '(senior) consultant transaction analytics (f/m/d)',
 'job | data analyst e&e&p | brussel',
 'clinical data insights analyst (medior/senior)',
 'business intelligence consultant (m/w/d)',
 'data analyst return solutions',
 'reliability data analyst',
 'data analyst (bangkok based, relocation provided)',
 'automotive spare parts data analyst',
 'consultant ai & data analytics / data science (m/w/d)',
 'biostatistiker (m/w/d)',
 'data analyst/developer',
 'social scientist as data analyst (f/m/d)',
 'customer insights analyst (bangkok based, relocation provided)',
 'consultant ai & data analytics / data science (m/w/d) in berlin',
 'internet data analyst (wszystko.pl)',
 'danish language data analyst - barcelona',
 'data analist - startersfunctie (dutch speaking)',
 'privacy data analyst - fluent german',
 'data analyst / decision scientist, growth',
 'senior data analyst (bangkok based, relocation provided)',
 'information analyst cloud applications',
 'danish language data analyst in barcelona',
 'data analyst (f/m/d) - courses',
 'data analyst in the area of iiot / ki / predictive maintenance (m/f/d)',
 'data analyst (marketing & comms)',
 'financial / data analyst',
 'data analyst export',
 'junior project manager - protected category',
 'junior business analyst',
 'software developer (m/f/d)',
 'data analyst beginner',
 'data analyst in the area of \u200b\u200biot / AI / predictive maintenance ...',
 'data engineer/ data analyst',
 'data analyst - marketing - e-commerce',
 'data analyst (product data analyst)',
 'data analyst - bseu raw materials planning',
 'statistical analyst (bangkok based, relocation provided)',
 'internal sales employee',
 'office worker (m/f/d) in garching',
 'Marketing employee (m/f/d)',
 'Engineer software development (m/f/d)',
 'project manager / project manager automotive (m/f/d)',
 'esg analyst - real estate (m/w/d)',
 'apm software development & operations',
 'accountant',
 'Marketing employee b2b (m/f/d)',
 'sustainability project manager f/m in apprenticeship',
 'test engineer',
 'system developer',
 'IT specialist (m/f/d)',
 'Rope technology project management',
 'seller for the Skaraborg area',
 'course coordination employee',
 'rehabilitation project manager',
 'bi developer',
 'commercial analyst',
 'reporting specialist',
 'product manager',
 'it support analyst, global it',
 'junior sales analyst',
 'data business analyst (m/f)',
 'infrastructure analyst',
 'marketing analyst (data analytics and bi)',
 'bi analyst (pricing)',
 'data visualization',
 'chemical development process  lab analyst',
 'data analyst it',
 'business intelligence developer',
 'data analyst, sql/ssis {finance',
 'policy analyst',
 'composite employee',
 'performance engineer',
 'web analyst f/h a cdi',
 'sales specialist',
 '(junior) data scientist',
 'process analyst',
 'business analyst',
 'data scientist, marketing analytics',
 'data analyst - poland',
 'consultant.e bi',
 'business intelligence developer eemea',
 'it business analyst (data)',
 '(junior) business analyst (f/m/d)',
 'business intelligence-architekt:in',
 'system developer gis',
 'software analyst',
 'responsable data visualisation ms bi',
 'engineering selection consultant',
 'assistant, hr data analytics',
 'it business analyst for human resources',
 'business data analyst lead\xa0h/f',
 'market intelligence analyst',
 'data engineer',
 'business analyst junior',
 'digital analytics & engagement expert',
 'senior business reporting specialist',
 'business & data analyst',
 'bi specialist',
 'business analyst (f/m/diverse) - hybrid',
 'center operations specialist',
 'business analyst it',
 'it crm & marketing solutions specialist',
 'junior tech business analyst',
 'data technology analyst',
 'data project manager f/h',
 'nrs13700 grade v, data analyst',
 'it data analyst',
 'data scientist - marketing',
 'data analyst - flanders digital',
 '(junior) application specialist ecommerce (m/f/d)',
 'data scientist (all genders)',
 'data & analytics consultant',
 'business intelligence expert',
 'junior business analyst (m/w/d)',
 'data analytics engineer',
 'business analyst data (h/f)',
 'data business analyst',
 'ecommerce, web and app analyst',
 'demand & inventory data scientist',
 'data visualization expert',
 'supply planner f/h',
 'data program manager',
 'big data data analyst engineer',
 'data steward',
 'data engineer (m/f/n)',
 'business analytics and intelligence analyst',
 'process engineer',
 'data science & analytics specialist (f/m/x)',
 'data manager',
 'data engineer, business intelligence',
 'junior crm analyst',
 'consulting | data & analytics hub malaga',
 'data platform product owner',
 'analyst developer',
 'digital marketing specialist',
 'analyst - marketing effectiveness',
 'social media data analyst',
 'product control analyst',
 'data analyst - edtech',
 'finance - it functional analyst',
 'data scientist - paris',
 'senior engineer bi f/m',
 'data management specialist',
 'data specialist',
 'business analyst - supply chain',
 'data analyst (legal services)',
 'business analyst middle',
 'business data analyste senior h/f',
 'dba sql',
 'data analyst_frosinone (fr)',
 'data consultant',
 'consultant - data visualization specialist',
 'analyst (m/f/d) business intelligence & analytics',
 'supply manager - valladolid',
 'data and analytics - it product owner',
 'demand planner',
 'logistics development analyst',
 'data analyst sas - h/f',
 'finance data analyst',
 'senior digital analyst (*all genders)',
 'business intelligence engineer',
 'business analyst specialist for data warehouse',
 'data analyst / mathematician / statistician (m/f/d)',
 'market research analyst (remote - within europe)',
 'senior data scientist',
 'analyst',
 'junior finance analyst',
 'sap finance analyst',
 'hr digital transformation',
 'data analyst - digital marketing (all genders)',
 '(junior) project analyst (m/f/d)',
 'supply chain analyst',
 'b2b analyst, bulgaria',
 'it solution analyst (m/f/n)',
 'business analyst (m/w/d)',
 'data architect',
 'business specialist',
 'business analyst (junior data analyst)',
 'business intelligence associate',
 'salesforce analyst',
 'computer scientist/programmer/data analyst',
 'business analyst bi',
 'cognos and power bi reporting developer',
 'business analyst - pricing',
 'montblanc - business analyst h/ft',
 'online data analyst (m,f,d)',
 'junior stem analyst',
 'scientist artificial intelligence',
 'software engineer',
 'jr. data scientist',
 'üì¢ [full remote] bi engineer - startup data marketing - h/f',
 'business insights analyst (nje)',
 'senior reporting and data specialist',
 'information technology support specialist',
 'business analyst (sales) (m/w/d)',
 '(junior) business analyst (w/m/d)',
 'business analytics specialist',
 'business analyst (f/h)',
 'data engineer (sql, bi)',
 'client data analyst (client intelligence specialist - fully remote) )',
 'digital data analyst pharma (m/f/d)',
 'trading and business support analyst',
 'associate database analyst---clinical database management',
 'senior product analyst',
 'afc data analyst',
 'consultant data & bi ‚Äì h/f',
 'data entry',
 'business analyst (f/m)',
 'junior analyst | h/f',
 'client intelligence specialist',
 'team business analyst',
 'ecommerce web analyst',
 'applications support analyst (f/m/d)',
 'information technology engineer',
 'data analyst/etl developer',
 'head of analytics',
 'digital data analytics',
 '360 data product owner',
 'online data analyst - france',
 'devops engineer',
 'data analyst -(m/f)',
 'business intelligence specialist (w/m/d)',
 'junior data analytics consultant',
 'technical data analyst',
 'junior software developer engineer',
 'senior bi data engineer',
 'pricing analyst',
 'demand planning analyst',
 'supply chain data analyst',
 'v.i.e performance management  analyst',
 'analytics consultant - marketing effectiveness',
 'business analyst (english speaking)',
 'business analyst - young graduate - academy program',
 'data scientist h/f_cdi',
 'data engineer (m/f/d)',
 'business analyst h/f',
 '[alt] data analyst assistant - h/f',
 'data scientist (f/m/d)',
 'banking operations specialist',
 'finance data analyst (m/w/d) - gigafactory berlin',
 'master data quality analyst',
 'stage - data analyst h/f',
 'traineeship data analyst',
 'data analyst for customer analytics (m/f/d)',
 'client insights data analyst - sql, python, databricks',
 'data analyst in work-study (94) dcf/ab - f/h',
 'data analyst, product intelligence #swx',
 'customer data analyst (m/w/d) motorsport',
 'data analyst delivery operations',
 'stage | data analyst',
 'data analyst in the area of \u200b\u200biiot / ki / predictive maintenance (m/f/d)',
 'semiconductor data analyst',
 'functional analyst',
 'programmer / functional analyst',
 'technical analyst for databricks (all genders)',
 'lead tech et data viz (h/f)',
 'senior expert innovation analytics performance',
 'sql database administrator',
 'geodesy data analyst - protected category',
 'business analyst pricing',
 'bi & data reporting expert',
 'data analyst - global marketing h/f',
 'data engineer-powercenter experience essential',
 'junior marketing analyst (munich)',
 'data scientist (credit)',
 'senior bi developer (sql server) ‚Äì (remote)',
 'intern data analyst client',
 'technical business analyst',
 'sterilization validation project manager',
 'junior data processing specialist',
 'front-end developer',
 'work-study data analyst (m/f) - boulogne-billancourt',
 'work-study program - data analyst assistance and HR reporting f/m',
 'data analyst (fraud)*',
 'digitalization project analyst',
 'data analyst - customer management domain',
 'data analyst - pilotage transformation cloud-(h/f)',
 'business intelligence-analyst:in',
 'analyst*in (m/w/d)',
 'business analyst consultant',
 'business process analyst',
 'it strategy and reporting analyst (m/f)',
 'data analyst (m/f/d) - global sea logistics systems',
 'it research analyst',
 'product data analyst with english',
 'experienced data scientist & analyst',
 'data analyst m/f - 12 or 24 month work-study program',
 'associate data manager',
 'data scientist (h/f)',
 'credit - data analyst (product)',
 'data engineer referent',
 'planning & control analyst',
 'business analyst - it',
 'associate data scientist',
 'bi/reports developer',
 'digital analyst',
 'associate - data research',
 'business analyst & planning',
 'junior business analyst - triodos',
 'mid data engineer',
 'global hris specialist',
 '(junior) systems business analyst (f/m/d)',
 'operational analyst (hybrid)',
 'data engineer industry 4.0',
 'associate - mckinsey digital',
 'data analyst - global marketing agency',
 'data analyst and business development specialist',
 'digital back office specialist - fixed term',
 'junior project manager',
 '(junior) project coordinator',
 'it analityk',
 'dba',
 'analyst (strategy, policy and innovation)',
 'junior data scientist',
 'developer',
 'senior financial analyst (m/f)',
 'junior developer',
 'chef.fe project data et bi f/h',
 'business analyst (h/f/x) cdi',
 'business analyst - manufacturing & supply chain',
 'supply officer & data analyst - systems & equipment (d/f/m)',
 'junior business analyst - back office team',
 'business intelligence specialist',
 'global manager data analytics',
 'data science and analytics engineer m/f',
 'research analyst',
 'operations analyst - h/f',
 'junior sql server database administrator',
 'inventory analytics manager',
 'data analyst professional programme',
 'data engineer f/h',
 'sviluppatore front-end',
 'data reporting engineer',
 'business intelligence application referent f/m',
 'analyst - french speaking -',
 'aftersales reporting specialist',
 'data scientist/data engineer, matching',
 'data engineer big data',
 'financial analyst (h/m) / fp&a reporting',
 'business data analyst evolutions (2300046z)',
 'permanent - data/analytics project manager f/m',
 'analyst - application development analytics',
 'IT functional analyst (junior)',
 'tender office specialist',
 'business analyst internship',
 'salesforce business analyst',
 'data analyst - lisbon and porto - campo grande',
 'market analyst- european power market',
 'fp&a analyst',
 'solution owner, enterprise solutions, ikea industry ab',
 'qe manager',
 'internet data evaluator | work-from-home',
 'data engineer h/f',
 'junior analyst - data process',
 'freelance contracting project // data product owner (m/f/d) - remote',
 'developer (m/f/n)',
 'data scientist transport & logistics',
 'oracle developer (2 posts)',
 'analyst sourcing & planning',
 'it specialist (f/m)',
 'l.t.e. s.p.a. - process engineer',
 'operational specialist',
 'consultant senior microsoft bi - power bi expert h/f',
 'application support specialist - business intelligence',
 'junior innovation analyst',
 'database administrator',
 'data analyst / credit risks - boursorama-(m/f)',
 'process performance engineer',
 'freelance data modeler',
 'business analyst (software)',
 'junior analyst',
 'analytics & reporting - associate ‚Äì warsaw',
 'ptp analyst',
 'customer data integration specialist - bulgaria',
 'marketing analyst (m/w/d)',
 'cro /digital analyst',
 'customer support analyst',
 'marketing analyst',
 'emerton data: data scientist & strategy consultant',
 'data engineer power bi + azure datafactory',
 'business-analyst:in',
 'junior software developer',
 'bi data analyst']

–ù–µ –≤—Å–µ –≤ —Å–ø–∏—Å–∫–µ –≤–∞–∫–∞–Ω—Å–∏–π —è–≤–ª—è—é—Ç—Å—è –∞–Ω–∞–ª–∏—Ç–∏–∫–∞–º–∏ - –æ–¥–Ω–∏—Ö –º–æ–∂–Ω–æ –æ—Ç–Ω–µ—Å—Ç–∏ –∫ –≤—Å–ø–æ–º–æ–≥–∞—Ç–µ–ª—å–Ω–æ–º—É –ø–µ—Ä—Å–æ–Ω–∞–ª—É, –≤ –¥—Ä—É–≥–∏—Ö –≤–∞–∫–∞–Ω—Å–∏—è—Ö –∏—â—É—Ç —á–µ–ª–æ–≤–µ–∫–∞ –Ω–∞ –ø–æ–∑–∏—Ü–∏–∏ middle, senior. –°–æ–≥–ª–∞—Å–Ω–æ —Ü–µ–ª–∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –Ω–∞—Å –∏–Ω—Ç–µ—Ä–µ—Å—É—é—Ç —Ç–æ–ª—å–∫–æ –ø–æ–∑–∏—Ü–∏–∏ –¥–∂—É–Ω–æ–≤. –¢–∞–∫ –∫–∞–∫ –≤–æ –º–Ω–æ–≥–∏—Ö –≤–∞–∫–∞–Ω—Å–∏—è—Ö –Ω–µ—Ç –ø—Ä–∏—Å—Ç–∞–≤–∫–∏ Junior, –±—É–¥–µ–º —Å—á–∏—Ç–∞—Ç—å, —á—Ç–æ –æ–Ω–∏ —Ç–æ–∂–µ —è–≤–ª—è—é—Ç—Å—è –¥–∂—É–Ω–æ–≤—Å–∫–∏–º–∏.

In [25]:
# –°–æ—Ö—Ä–∞–Ω—è–µ–º –≤ —Å–ø–∏—Å–æ–∫ –∫–ª—é—á–µ–≤—ã–µ —Å–ª–æ–≤–∞,
keywords = ['data analyst', 'science', 'bi-analyst', 
            'bi analyst', 'bi', 'business analyst', 
            'marketing analyst']
# –ø–æ –∫–æ—Ç–æ—Ä—ã–º –±—É–¥–µ–º –æ—Ç–±–∏—Ä–∞—Ç—å –Ω—É–∂–Ω—ã–µ –Ω–∞–º –≤–∞–∫–∞–Ω—Å–∏–∏
# —Å—Ä–µ–¥—Å—Ç–≤–∞–º–∏ str.contains()
filtered_data = df[df['job_title'].str.contains('|'.join(keywords), case=False, na=False)]

In [26]:
# –°–ø–∏—Å–æ–∫ —Å–ª–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–∫–ª—é—á–∏—Ç—å
exclude_words = ['lead', 'team-lead', 
                 'team lead', 'senior', 
                 'middle', 'master']
# –°–æ–∑–¥–∞–µ–º —Ñ–∏–ª—å—Ç—Ä, –∫–æ—Ç–æ—Ä—ã–π –∏—Å–∫–ª—é—á–∞–µ—Ç —Å—Ç—Ä–æ–∫–∏, —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ —É–∫–∞–∑–∞–Ω–Ω—ã–µ —Å–ª–æ–≤–∞
filter = ~filtered_data['job_title'].str.contains('|'.join(exclude_words), case=False)
# –ü—Ä–∏–º–µ–Ω—è–µ–º —Ñ–∏–ª—å—Ç—Ä –∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—É
filtered_data = filtered_data[filter]

In [27]:
# –ü–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 615 entries, 0 to 997
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         615 non-null    int64
 1   job_title          615 non-null    object
 2   area               615 non-null    string
 3   city               615 non-null    string
 4   country            615 non-null    string
 5   workplace          615 non-null    string
 6   company_name       615 non-null    string
 7   industry           615 non-null    string
 8   company_size       615 non-null    string
 9   job_description    615 non-null    object
 10  posted_date        615 non-null    string
 11  applicants         615 non-null    int32
 12  right_posted_date  615 non-null    object
dtypes: int32(1), int64(1), object(3), string(8)
memory usage: 64.9+ KB

–¢–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º, –±—ã–ª–∏ –æ—Ç–æ–±—Ä–∞–Ω—ã –¥–∂—É–Ω-–≤–∞–∫–∞–Ω—Å–∏–∏ –∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é `filtered_data`.

### –í—ã—Å—Ç–∞—Å–∫–∏–≤–∞–µ–º hard skills

In [28]:
# –°–ø–∏—Å–æ–∫ —Ö–∞—Ä–¥ —Å–∫–∏–ª–ª–æ–≤
hard_skills = ["python", "database", "r", "sql", "data mining", "excel", "react", "statistic",
              'power bi', 'bi analysis', 'bi-analysis', 'tableau', 'oracle', 'etl',
              'mysql', 'postgresql', 'mongodb', 'pandas', 'numpy', 'scipy', 'matplotlib',
              'cloud', 'google metric', 'business intelligence', 'big data',
              'lean analytics', 'six sigma', 'machine learning', 'artificial intelligence', 'ai',
              'math', 'economy', 'marketing', 'gdpr', 'pr', 'public relations', 'cohort analysis',
              'cohort', 'powerpoint', 'data visualization', 'wrangling', 'data wrangling',
              'data manipulation', 'analytics', 'sas', 'spss', 'qlikview', 'nosql', 'presentation',
              'bpmn', 'aris', 'visio', 'jira', 'agile', 'kanban', 'trello', 'uml', 'erp', 'parsing',
              'eda', 'exploratory data analysis', 'seaborn', 'plotly', 'plotly express']

# –§—É–Ω–∫—Ü–∏—è –¥–ª—è –≤—ã—á–ª–µ–Ω–µ–Ω–∏—è —Ö–∞—Ä–¥ —Å–∫–∏–ª–ª–æ–≤ –∏–∑ –æ–ø–∏—Å–∞–Ω–∏—è –≤–∞–∫–∞–Ω—Å–∏–∏
def extract_hard_skills(description):
    extracted_skills = []
    for skill in hard_skills:
        if re.search(r'\b' + re.escape(skill) + r'\b', description, re.IGNORECASE):
            extracted_skills.append(skill)
    return extracted_skills

# –í—ã—á–ª–µ–Ω–µ–Ω–∏–µ —Ö–∞—Ä–¥ —Å–∫–∏–ª–ª–æ–≤ –∏ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –∏—Ö –≤ –æ—Ç–¥–µ–ª—å–Ω–æ–º —Å—Ç–æ–ª–±—Ü–µ
filtered_data['hard_skills'] = filtered_data['job_description'].apply(lambda x: extract_hard_skills(x))

# –í—ã–≤–æ–¥ —Ç–∞–±–ª–∏—Ü—ã
filtered_data.head()

,Unnamed: 0,job_title,area,city,country,workplace,company_name,industry,company_size,job_description,posted_date,applicants,right_posted_date,hard_skills
0,0,data analyst,"['basel', 'basel', 'switzerland']",basel,switzerland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,about the job\n \n\n \n ...,1 week ago,47,2024-01-09,"[database, sql, data mining, excel, analytics,..."
23,23,data analyst ii,"['dublin', 'county dublin', 'ireland']",dublin,ireland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,about the job\n \n\n \n ...,1 week ago,30,2024-01-09,[machine learning]
26,26,data analyst (f/h),"['dijon', 'bourgogne-franche-comt√©', 'france']",dijon,france,hybrid,neos-sdi,information technology & services,51-200,about the job\n \n\n \nthe Dijon data t...,1 week ago,141,2024-01-09,"[sql, power bi, business intelligence, data ma..."
27,27,bi analyst,"['als√≥n√©medi', 'pest', 'hungary']",als√≥n√©medi,hungary,hybrid,gls,transportation/trucking/railroad,"10,001+",about the job\n \n\n \ngls' dynamically...,1 week ago,36,2024-01-09,"[database, sql, power bi, tableau, agile]"
29,29,data analyst,"['manchester', 'england', 'united kingdom']",manchester,united kingdom,on-site,axon moore,staffing & recruiting,51-200,about the job\n \n \n\n\n\n this j...,3 weeks ago,81,2023-12-26,"[python, sql, excel, analytics]"

–í—ã–±–æ—Ä–∫–∞ –∏–º–µ–Ω–Ω–æ —Ç–∞–∫–∏—Ö hard skills –æ–±—É—Å–ª–æ–≤–µ–Ω–∞ –≤—Å–µ—Å—Ç–æ—Ä–æ–Ω–Ω–∏–º –∞–Ω–∞–ª–∏–∑–æ–º –µ–≤—Ä–æ–ø–µ–π—Å–∫–æ–≥–æ —Ä—ã–Ω–∫–∞ —Ç—Ä—É–¥–∞ –∏ —Ç—Ä–µ–±–æ–≤–∞–Ω–∏–π —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –∫ —É–º–µ–Ω–∏—è–º–∏ –∏ –Ω–∞–≤—ã–∫–∞–º –Ω–∞ –ø–æ–∑–∏—Ü–∏—é –¥–∂—É–Ω–∏–æ—Ä. –°–ø–∏—Å–æ–∫ –º–æ–∂–µ—Ç —Ä–∞—Å—à–∏—Ä—è—Ç—Å—è –ø–æ –∑–∞–ø—Ä–æ—Å—É –ó–∞–∫–∞–∑—á–∏–∫–∞.

In [29]:
# –ù–µ –∑–∞–±—ã–≤–∞–µ–º –æ–±–Ω–æ–≤–ª—è—Ç—å –∏–Ω–¥–µ–∫—Å—ã:
filtered_data = filtered_data.reset_index(drop=True)
filtered_data.head()

,Unnamed: 0,job_title,area,city,country,workplace,company_name,industry,company_size,job_description,posted_date,applicants,right_posted_date,hard_skills
0,0,data analyst,"['basel', 'basel', 'switzerland']",basel,switzerland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,about the job\n \n\n \n ...,1 week ago,47,2024-01-09,"[database, sql, data mining, excel, analytics,..."
1,23,data analyst ii,"['dublin', 'county dublin', 'ireland']",dublin,ireland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,about the job\n \n\n \n ...,1 week ago,30,2024-01-09,[machine learning]
2,26,data analyst (f/h),"['dijon', 'bourgogne-franche-comt√©', 'france']",dijon,france,hybrid,neos-sdi,information technology & services,51-200,about the job\n \n\n \nthe Dijon data t...,1 week ago,141,2024-01-09,"[sql, power bi, business intelligence, data ma..."
3,27,bi analyst,"['als√≥n√©medi', 'pest', 'hungary']",als√≥n√©medi,hungary,hybrid,gls,transportation/trucking/railroad,"10,001+",about the job\n \n\n \ngls' dynamically...,1 week ago,36,2024-01-09,"[database, sql, power bi, tableau, agile]"
4,29,data analyst,"['manchester', 'england', 'united kingdom']",manchester,united kingdom,on-site,axon moore,staffing & recruiting,51-200,about the job\n \n \n\n\n\n this j...,3 weeks ago,81,2023-12-26,"[python, sql, excel, analytics]"

### –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –¥–∞—à–±–æ—Ä–¥–∞: —É–¥–∞–ª–µ–Ω–∏–µ –ª–∏—à–Ω–∏—Ö —Å—Ç–æ–ª–±—Ü–æ–≤

In [30]:
#–ò–∑—É—á–∞–µ–º –∏–º–µ—é—â–∏–µ—Å—è —Å—Ç–æ–ª–±—Ü—ã
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         615 non-null    int64
 1   job_title          615 non-null    object
 2   area               615 non-null    string
 3   city               615 non-null    string
 4   country            615 non-null    string
 5   workplace          615 non-null    string
 6   company_name       615 non-null    string
 7   industry           615 non-null    string
 8   company_size       615 non-null    string
 9   job_description    615 non-null    object
 10  posted_date        615 non-null    string
 11  applicants         615 non-null    int32
 12  right_posted_date  615 non-null    object
 13  hard_skills        615 non-null    object
dtypes: int32(1), int64(1), object(4), string(8)
memory usage: 65.0+ KB

In [31]:
# –°—Ç–æ–ª–±–µ—Ü –Ω–µ –Ω—É–∂–µ–Ω, –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç —Å—Ç–∞—Ä—ã–µ –∏–Ω–¥–µ–∫—Å—ã
del filtered_data['Unnamed: 0']

In [32]:
# –°—Ç–æ–ª–±–µ—Ü —Ç–æ–∂–µ –Ω–µ –Ω—É–∂–µ–Ω, –≥–æ—Ä–æ–¥–∞ –∏ —Å—Ç—Ä–∞–Ω—ã –≤—ã–¥–µ–ª–µ–Ω—ã –æ—Ç–¥–µ–ª—å–Ω–æ
del filtered_data['area']

In [33]:
# –°—Ç–æ–ª–±–µ—Ü –±–æ–ª—å—à–µ –Ω–µ–∞–∫—Ç—É–∞–ª–µ–Ω - –≤—Å–µ —Ö–∞—Ä–¥ —Å–∫–∏–ª–ª—ã –≤—ã—Ç–∞—â–µ–Ω—ã
del filtered_data['job_description']

In [34]:
# –≠—Ç–æ—Ç —Å—Ç–æ–ª–±–µ—Ü –ø–æ–ª–Ω–æ—Å—Ç—å—é –∑–∞–º–µ–Ω–µ–Ω –Ω–∞ right_posted_date
del filtered_data['posted_date']

In [35]:
# –ü—Ä–æ–≤–µ—Ä—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   job_title          615 non-null    object
 1   city               615 non-null    string
 2   country            615 non-null    string
 3   workplace          615 non-null    string
 4   company_name       615 non-null    string
 5   industry           615 non-null    string
 6   company_size       615 non-null    string
 7   applicants         615 non-null    int32
 8   right_posted_date  615 non-null    object
 9   hard_skills        615 non-null    object
dtypes: int32(1), object(3), string(6)
memory usage: 45.8+ KB

In [36]:
filtered_data = filtered_data.explode('hard_skills')

In [37]:
filtered_data.head()

,job_title,city,country,workplace,company_name,industry,company_size,applicants,right_posted_date,hard_skills
0,data analyst,basel,switzerland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,47,2024-01-09,database
0,data analyst,basel,switzerland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,47,2024-01-09,sql
0,data analyst,basel,switzerland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,47,2024-01-09,data mining
0,data analyst,basel,switzerland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,47,2024-01-09,excel
0,data analyst,basel,switzerland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,47,2024-01-09,analytics

In [38]:
# –í–∏–¥–∏–º, —á—Ç–æ —É –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤ —Å–±–∏–ª—Å—è —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö - –∏—Å–ø—Ä–∞–≤–ª—è–µ–º
filtered_data['job_title'] = (filtered_data['job_title']
                 .astype('string')
                 .str.lower()
                 .str.strip()
                )

filtered_data['hard_skills'] = (filtered_data['hard_skills']
                 .astype('string')
                 .str.lower()
                 .str.strip()
                )
filtered_data['right_posted_date'] = pd.to_datetime(filtered_data['right_posted_date'])

In [39]:
filtered_data['index'] = filtered_data.index

In [40]:
# –ò—Ç–æ–≥–æ–≤—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2354 entries, 0 to 614
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   job_title          2354 non-null   string
 1   city               2354 non-null   string
 2   country            2354 non-null   string
 3   workplace          2354 non-null   string
 4   company_name       2354 non-null   string
 5   industry           2354 non-null   string
 6   company_size       2354 non-null   string
 7   applicants         2354 non-null   int32
 8   right_posted_date  2354 non-null   datetime64[ns]
 9   hard_skills        2327 non-null   string
 10  index              2354 non-null   int64
dtypes: datetime64[ns](1), int32(1), int64(1), string(8)
memory usage: 211.5 KB

In [41]:
# –ò—Ç–æ–≥–æ–≤—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
filtered_data.head()

,job_title,city,country,workplace,company_name,industry,company_size,applicants,right_posted_date,hard_skills,index
0,data analyst,basel,switzerland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,47,2024-01-09,database,0
0,data analyst,basel,switzerland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,47,2024-01-09,sql,0
0,data analyst,basel,switzerland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,47,2024-01-09,data mining,0
0,data analyst,basel,switzerland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,47,2024-01-09,excel,0
0,data analyst,basel,switzerland,on-site,pharmiweb.jobs: global life science jobs,staffing & recruiting,11-50,47,2024-01-09,analytics,0

In [42]:
filtered_data.to_csv('dashbord_data.csv')

### –ü—Ä–∏–ª–æ–∂–µ–Ω–∏–µ 1 - –°—Å—ã–ª–∫–∞ –Ω–∞ –î–∞—à–±–æ—Ä–¥

–î–∞—à–±–æ—Ä–¥ –¥–æ—Å—Ç—É–ø–µ–Ω –ø–æ —Å—Å—ã–ª–∫–µ: https://public.tableau.com/views/JobAnalysisforJuniorDataAnalysts/Dashboard1?:language=en-US&:display_count=n&:origin=viz_share_link